body{
    font-family:'Roboto',sans-serif;
}

.hero,
.footer {
    background-color: #1f2937;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.main-subtext,
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
    padding: 0 16px;
}

button,
.call-to-action {
    background-color: #3882f6;
}

.pages-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937
}

ul {
    list-style-type: none;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 0 16px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 32px;
    padding: 48px 64px;
}

#profile {
    height: 400px;
}

.intro-content {
    width: 500px;
    flex-wrap: warp;
    flex: 1;
}